[submodule "vendor/code2seq"]
	path = vendor/code2seq
	url = https://github.com/jjhenkel/code2seq
[submodule "vendor/CodeSearchNet"]
	path = vendor/CodeSearchNet
	url = https://github.com/jjhenkel/CodeSearchNet
[submodule "vendor/spoon"]
	path = vendor/spoon
	url = https://github.com/jjhenkel/spoon
